@import url("https://fonts.googleapis.com/css?family=Montserrat");

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  transition: 0.7s;
}
.preloader::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #292929;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  transition: 0.7s;
}
.complete {
  opacity: 0;
  visibility: hidden;
}
.preloader.complete::before {
  transform: translateX(-100%);
  visibility: hidden;
}
.preloader::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #292929;
  z-index: 1;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  transition: 0.7s;
}
.preloader.complete::after {
  transform: translateX(100%);
  visibility: hidden;
}
.logo-loading {
  position: fixed;
  width: 45vh;
  height: 45vh;
  z-index: 10001;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  line-height: 200px;
  transition: 1s;
}
.logo-loading .circle {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(138, 43, 226, 0.02);
}
.logo-loading .circle:nth-of-type(1) {
  width: 13vh;
  height: 11.5vh;
  animation: rt 6s infinite linear;
  box-shadow: 0 0 1px 0 blueviolet, inset 0 0 10px 0 blueviolet;
}
.logo-loading .circle:nth-of-type(2) {
  width: 12.5vh;
  height: 13.7vh;
  animation: rt 10s infinite linear;
  box-shadow: 0 0 1px 0 darkviolet, inset 0 0 10px 0 darkviolet;
}
.logo-loading .circle:nth-of-type(3) {
  width: 12vh;
  height: 13.7vh;
  animation: rt 5s infinite linear;
  box-shadow: 0 0 1px 0 darkmagenta, inset 0 0 10px 0 darkmagenta;
}
.logo-loading .circle:nth-of-type(4) {
  width: 10vh;
  height: 12.7vh;
  animation: rt 15s infinite linear;
  box-shadow: 0 0 1px 0 magenta, inset 0 0 10px 0 magenta;
}

@keyframes rt {
  100% {
    transform: rotate(360deg);
  }
}

.dissappear {
  opacity: 0;
  visibility: hidden;
}
body {
  overflow-x: hidden;
}
.App {
  font-family: "Montserrat", sans-serif;
}
section.sidemenu {
  position: absolute;
  top: 0;
  left: 0;
}
.menu-button {
  position: fixed;
  top: 50%;
  left: 2vh;
  cursor: pointer;
  z-index: 1;
  transform: translateY(-50%);
  display: flex;
}
#logo {
  position: fixed;
  transform: translate(-50%, -50%);

  /* display: none; */
  z-index: 5;
  transition: all 0.8s ease-in-out;
}
.logoEffectBasic {
  top: 50%;
  left: 50%;
  height: 200px;
  transition: all 0.8s ease-in-out;
}
.logoEffect {
  top: 5%;
  left: 3%;
  height: 50px;
  transition: all 0.8s ease-in-out;
}
.menu-button img.list {
  width: 35px;
  height: 35px;
}
.menu-button ul.menu li {
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
  transition: 0.3s;
  color: #1d1d1b;
}
.menu-button ul.menu {
  display: block;
  font-size: 0.7em;
  padding: 0 5px;
  transform: rotate(-90deg);
  margin: 0;
  margin-left: 15px;
}
.menu-button:hover li:nth-child(2),
.menu-button:hover li:nth-child(4) {
  transform: translateY(5px);
}
.menu-button:hover li:nth-child(1),
.menu-button:hover li:nth-child(3) {
  transform: translateY(-5px);
}
.sidenaveffect {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(66, 66, 191);
  overflow-x: hidden;
  transition: width cubic-bezier(0, 1, 1, 0.35);
  /* transition: 0.5s; */
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #2e2e2e;
  overflow-x: hidden;
  transition: width cubic-bezier(0, 1, 1, 0.35);
  /* transition: 1s; */
}
.slidingTag:before {
  animation: grain 1s steps(10) infinite;
  background-image: url(./grains.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.48;
  position: fixed;
  top: -110%;
  width: 0;
  transition: 1.5s;
}
.slidingTag-modifier {
  animation: grain 1s steps(10) infinite;
  background-image: url(./grains.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.48;
  position: fixed;
  top: -110%;
  width: 300% !important;
  transition: 1s;
  z-index: 0;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.sidenav .closebtn {
  position: absolute;
  top: 49%;
  left: 2vh;
  transform: translateY(-50%);
  font-size: 6em;
  margin-left: 10px;
}
.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #727272;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
  z-index: 2;
  font-weight: 1000;
  cursor: pointer;
  transition: 1s;
  font-size: 3em;
}
.sidenav a:nth-child(3) {
  animation-duration: 2s;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

.sidenav a:nth-child(4) {
  animation-duration: 2.3s;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}
.sidenav a:nth-child(5) {
  animation-duration: 2.6s;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
}
.sidenav a:nth-child(6) {
  animation-duration: 2.9s;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translateY(-50%);
}
.sidenav a:hover {
  background-image: url(./texture-min.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
  background-position: 0% 0%;
  background-repeat: repeat;
}
.sidenav a:hover::after {
  /* color: #f1f1f1; */
  position: absolute;
  left: 3px;

  top: 0;
  content: attr(data-text);
  background-image: url(./texture-min.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
  background-position: 0% 0%;
  background-repeat: repeat;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.sidenav a:hover::before {
  /* color: #f1f1f1; */
  position: absolute;
  left: -3px;

  top: 0;
  content: attr(data-text);
  background-image: url(./texture-min.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
  background-position: 0% 0%;
  background-repeat: repeat;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 2s infinite linear alternate-reverse;
}
.active {
  background-image: url(./texture-min.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
  background-position: 0% 0%;
  background-repeat: repeat;
}
.active:after {
  position: absolute;
  left: 3px;

  top: 0;
  content: attr(data-text);
  background-image: url(./texture-min.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
  background-position: 0% 0%;
  background-repeat: repeat;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
.active:before {
  position: absolute;
  left: 3px;

  top: 0;
  content: attr(data-text);
  background-image: url(./texture-min.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
  background-position: 0% 0%;
  background-repeat: repeat;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes fade-in {
  0% {
    opacity: 0 !important;
    top: 70%;
  }

  100% {
    opacity: 1 !important;
    top: 50%;
  }
}

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  animation-duration: 1s;
}
@keyframes noise-anim {
  0% {
    clip: rect(95px, 9999px, 4px, 0);
  }
  5% {
    clip: rect(73px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(9px, 9999px, 83px, 0);
  }
  15% {
    clip: rect(86px, 9999px, 75px, 0);
  }
  20% {
    clip: rect(97px, 9999px, 33px, 0);
  }
  25% {
    clip: rect(10px, 9999px, 47px, 0);
  }
  30% {
    clip: rect(70px, 9999px, 83px, 0);
  }
  35% {
    clip: rect(6px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(75px, 9999px, 19px, 0);
  }
  45% {
    clip: rect(96px, 9999px, 90px, 0);
  }
  50% {
    clip: rect(32px, 9999px, 11px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 43px, 0);
  }
  60% {
    clip: rect(68px, 9999px, 66px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 72px, 0);
  }
  70% {
    clip: rect(44px, 9999px, 27px, 0);
  }
  75% {
    clip: rect(15px, 9999px, 68px, 0);
  }
  80% {
    clip: rect(39px, 9999px, 68px, 0);
  }
  85% {
    clip: rect(91px, 9999px, 7px, 0);
  }
  90% {
    clip: rect(44px, 9999px, 100px, 0);
  }
  95% {
    clip: rect(63px, 9999px, 16px, 0);
  }
  100% {
    clip: rect(5px, 9999px, 54px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(100px, 9999px, 81px, 0);
  }
  5% {
    clip: rect(32px, 9999px, 53px, 0);
  }
  10% {
    clip: rect(60px, 9999px, 85px, 0);
  }
  15% {
    clip: rect(33px, 9999px, 20px, 0);
  }
  20% {
    clip: rect(60px, 9999px, 100px, 0);
  }
  25% {
    clip: rect(26px, 9999px, 38px, 0);
  }
  30% {
    clip: rect(57px, 9999px, 27px, 0);
  }
  35% {
    clip: rect(27px, 9999px, 31px, 0);
  }
  40% {
    clip: rect(39px, 9999px, 53px, 0);
  }
  45% {
    clip: rect(90px, 9999px, 6px, 0);
  }
  50% {
    clip: rect(35px, 9999px, 36px, 0);
  }
  55% {
    clip: rect(19px, 9999px, 58px, 0);
  }
  60% {
    clip: rect(28px, 9999px, 51px, 0);
  }
  65% {
    clip: rect(66px, 9999px, 45px, 0);
  }
  70% {
    clip: rect(6px, 9999px, 29px, 0);
  }
  75% {
    clip: rect(15px, 9999px, 29px, 0);
  }
  80% {
    clip: rect(9px, 9999px, 79px, 0);
  }
  85% {
    clip: rect(14px, 9999px, 36px, 0);
  }
  90% {
    clip: rect(80px, 9999px, 86px, 0);
  }
  95% {
    clip: rect(58px, 9999px, 33px, 0);
  }
  100% {
    clip: rect(24px, 9999px, 11px, 0);
  }
}
@media screen and (max-width: 600px) {
  .sidenav a {
    font-size: 1.2em;
  }
  .sidenav .closebtn {
    font-size: 4em;
  }
  #logo {
    height: 100px;
  }
}
@media screen and (max-width: 450px) {
  .sidenav a {
    font-size: 1.2em;
  }

  .sidenav a:nth-child(3) {
    top: 40%;
    left: 20%;
  }
  .sidenav a:nth-child(4) {
    top: 60%;
    left: 20%;
  }
  .sidenav a:nth-child(5) {
    top: 40%;
    left: 60%;
  }
  .sidenav a:nth-child(6) {
    top: 60%;
    left: 60%;
  }
  @keyframes fade-in {
    0% {
      opacity: 0 !important;
    }

    100% {
      opacity: 1 !important;
    }
  }
  .menu {
    opacity: 0;
  }
}